/* Efeito Pulse */
.whatsapp .pulse {
    animation: pulse 0.7s infinite;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    animation-direction: top;
    -webkit-animation-name: pulse;
    animation-name:pulse
}
@-webkit-keyframes pulse {
    0%{
        -webkit-transform: scale(1);
        -webkit-filter: brightness(100%);
    }
    100% {
        -webkit-transform: scale(1.1);
        -webkit-filter: brightness(150%);
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
        filter: brightness(100%);        
    }
    100% {
        transform: scale(1.1);
        filter: brightness(150%);
    }
}
/* Fim Efeito Pulse */